body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #0056b3;
}

main {
    padding-top: 60px; /* Espacio para el header fijo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

section {
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #007BFF;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}


article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

article h3 {
    color: #0056b3;
}

article p {
    font-size: 0.9em;
    color: #666;
}

article:last-child {
    border-bottom: none;
}
